body {
  text-align: center;
  color: rgba(46, 47, 45, 0.805);
  font-family: "Oswald", sans-serif;
  max-width: 800px;
  margin: 40px auto;
  padding: 60px 8px;
  line-height: 1.5;
  border: 1px solid #dadde1;
  border-radius: 40px;
}

.container {
  text-align: center;
  font-size: 18px;
}

.city {
  font-size: 65px;
  text-transform: capitalize;
  text-align: center;
}

.localDate {
  font-weight: 300;
  font-size: 18px;
}

.localTime {
  font-weight: 300;
  font-size: 18px;
}


.temperature {
  font-size: 38px;
}

.icon-weather-element {
  font-size: 48px;
}

.celcius-c {
  font-size: 25px;
  text-decoration: none;
}

.celciuss {
  font-size: 25px;
  text-decoration: none;
}

.bg-body-tertiary {
  display: contents;
}

.humidity-level {
  line-height: 1px;
  font-size: 18px;
  color: green;
}

.actual-feel {

  font-size: 18px;
  color: green;
}

.wind-speed {

  font-size: 18px;
  color: green;
}


.getLink {
  text-decoration: none;
  font-size: small;
  color: blue;
}