body {
  text-align: center;
  color: rgba(46, 47, 45, 0.805);
  font-family: "Oswald", sans-serif;
  max-width: 860px;
  margin: 50px auto;
  padding: 60px 10px;
  line-height: 1.5;
  border: 1px solid #dadde1;
  border-radius: 40px;

}

.container {
  text-align: center;
  font-size: 18px;
}


.city {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;

}

.localDate,
.localTime {
  font-weight: 300;
  font-size: 15px;

}

.temperature {
  color: #8154ef;
  font-size: 35px;
}

.icon-weather-element {
  size: 50px 50px;

}

.celcius-c,
.celciuss {
  font-size: 25px;
  text-decoration: none;
}

.bg-body-tertiary {
  display: contents;
}

.humidity-level,
.actual-feel,
.wind-speed {
  line-height: 2px;
  font-size: 15px;
  color: #8154ef;

}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;

}

.weather-forecast-max {
  font-size: 13px;
}

.weather-forecast-min {
  font-size: 13px;
  opacity: 0.5;
}

footer {
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  color: grey;
  border-top: 2px solid #f9f7fe;
  padding: 25px 0 0 0;
}